.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.profile-info img {
  width: 300px;
  height: auto;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-details h2 {
  margin-bottom: 10px;
}

.profile-details p {
  margin-bottom: 5px;
}
