.footer{
  background-color: #000;
  text-align: center;
  padding: 30px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-icons li {
  margin: 0 10px;
  height: 40px;
}

.social-icons img {
  width: 25px;
  height: 25px;
} 

