.billboard-movie {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.billboard-movie h1 {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.billboard-movie img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}