.container-list {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

.container-list .movie {
  flex: 0 0 20%;
  text-align: center;
  margin-bottom: 20px;
}

.container-list .movie h1 {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.container-list .movie img {
  width: 100%;
  max-height: 300px; /* Ajusta el valor de acuerdo a tus preferencias */
  object-fit: contain;
}


